@{
    ViewData["Title"] = "Home Page";
}



<style>
    body {
        background-color: #fff;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 800px;
        margin: 50px auto;
        padding: 40px;
        background-color: #988ba2;
        border-radius: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }

    

    h1 {
        color: #fff;
        margin-bottom: 20px;
    }

    p {
        color: #fff;
        margin-bottom: 40px;
    }

    .bold-text {
        font-weight: bold;
        font-size: 24px; 
    }
</style>

<div class="container text-center">
    <h1 class="display-4">Pulgan Myraza Riann C.</h1>
    <h1 class="display-4">LYCEUM ALABANG </h1>
    <p><span class="bold-text">BSIT 32E2</span></p>
</div>
