@{
    ViewData["Title"] = "Schedule";
}
<style>
    body {
        background-color: #ab8ebf;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 800px;
        margin: 50px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        color: #fff;
        margin-bottom: 10px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #cec4d5;
        color: white;
    }

    tr:hover {
        background-color: #f5f5f5;
    }
</style>

<div class="container text-center">
    <h1 class="display-4">Your Schedule</h1>
    <h2>Face to Face Classes</h2>
    <table>
        <thead>
            <tr>
                <th>Subject</th>
                <th>Day & Time </th>
            </tr>
            <tr>
                <td>IT Elective 3</td>
                <td>Saturday 10:00 AM - 1:00 PM</td>
               
            </tr>
        </thead>
        <tbody>

       
        </tbody>
    </table>

   <h2>Asynchronous Class</h2>
    <table>
        <thead>
            <tr>
                <th>Subject</th>
                <th>Day & Time</th>
            </tr>
        </thead>
        <tbody>

            </tr>
            <tr>
                <td>IT Elective 3</td>
                <td>Saturday 10:00 AM - 1:00 PM</td>
            
            </tr>
        </tbody>
    </table>
</div>
